$amounts: (0: 0, 1: var(--spacing1x), 2: var(--spacing2x), 3: var(--spacing3x), 4: var(--spacing4x));
$sides: (top, bottom, left, right);

/*
  .pl-1
  .pl-2
  .pl-4
*/

@each $amount, $space in $amounts {
  .m-#{$amount} {
    margin: #{$space} !important;
  }

  .p-#{$amount} {
    padding: #{$space} !important;
  }

  .my-#{$amount} {
    margin-top: #{$space} !important;
    margin-bottom: #{$space} !important;
  }

  .py-#{$amount} {
    padding-top: #{$space} !important;
    padding-bottom: #{$space} !important;
  }

  .mx-#{$amount} {
    margin-left: #{$space} !important;
    margin-right: #{$space} !important;
  }

  .px-#{$amount} {
    padding-left: #{$space} !important;
    padding-right: #{$space} !important;
  }

  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$amount} {
      margin-#{$side}: #{$space} !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$amount} {
      padding-#{$side}: #{$space} !important;
    }
  }
}
