$fontSize: (14.5 / 16) * 100%;
$mobileFontSize: (14 / 16) * 100%;

$bgColor: #8A7342;
// Alt less-saturated bg color: #82704b;

$darkColor: #111;
$lightColor: #fff;
$accentColor: #ebe0c6;

$pageMaxWidth: 1400px;

$spacing1x: 20px;
$spacing2x: 40px;
$spacing4x: 80px;
$mobileSpacing1x: 25px;
$mobileSpacing2x: 50px;
$mobileSpacing4x: 50px;
