$fontSize: (14 / 16) * 100%;
$mobileFontSize: (13.5 / 16) * 100%;

$bgColor: #8A7342;
// Alt less-saturated bg color: #82704b;

$darkColor: #111;
$lightColor: #fff;
$accentColor: #ebe0c6;

$pageMaxWidth: 1400px;

$desktopLogoHeight: 8vh;
$mobileLogoHeight: 9vh;

$spacing1: 25;
$spacing1x: #{$spacing1}px;

$spacing2: 40;
$spacing2x: #{$spacing2}px;

$spacing4x: 80px;
$mobileSpacing1x: 25px;
$mobileSpacing2x: 50px;
$mobileSpacing4x: 50px;

$totalAboveTheFoldPadding: $spacing2 * 3;
$aboveTheFoldHeight: calc(100vh - #{$desktopLogoHeight} - #{$totalAboveTheFoldPadding}px);

$headerPadding: $spacing2 * 2;
$totalHeaderHeight: calc(#{$desktopLogoHeight} + #{$headerPadding}px);
