:root {
  --bg-color: #{$bgColor};
  --sans: 'Standard', -apple-system, BlinkMacSystemFont, sans-serif;
  --serif: 'Bodoni Moda', serif;
  --dark-color: #{$darkColor};
  --dark-color-barely-transparent: #{rgba($darkColor, 0.7)};
  --dark-color-very-transparent: #{rgba($darkColor, 0.1)};
  --light-color: #{$lightColor};
  --accent-color: #{$accentColor};

  --page-max-width: #{$pageMaxWidth};

  --button-padding: 0.4em 0.4em 0.2em;
  --mobile-lead-image-height: 65vh;

  --spacing1x: #{$spacing1x};
  --spacing2x: #{$spacing2x};
  --spacing3x: #{$spacing2x};
  --spacing4x: #{$spacing4x};

  --mobile-spacing1x: #{$mobileSpacing1x};
  --mobile-spacing2x: #{$mobileSpacing2x};

  --logo-height: #{$desktopLogoHeight};
}

@media (--max-medium) {
  :root {
    --spacing1x: #{$mobileSpacing1x};
    --spacing2x: #{$mobileSpacing1x};
    --spacing3x: #{$mobileSpacing2x};
    --spacing4x: #{$mobileSpacing2x};

    --logo-height: #{$mobileLogoHeight};
  }
}
