h1, h2, h3 {
  font-family: var(--script);
  font-weight: 500;
  line-height: 1;
  margin-bottom: var(--spacing1x);
}

h1, .h1 {
  font-size: 4.3rem;
}

h2 {
  font-size: 2.8rem;
}

.mobileH2 {
  @media (--max-medium) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-weight: 500;
}

.label {
  text-transform: uppercase;
  font-family: var(--sans);
}

.smallLabel {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.lightText {
  color: var(--light-color);
}

.smallBodyText {
  font-size: var(--small-font-size);
}

.centeredText {
  text-align: center;
}
