h1, h2, h3 {
  font-family: var(--serif);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: var(--spacing1x);
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 3.3rem;

  @media (--max-medium) {
    font-size: 2.7rem;
  }
}

h2 {
  font-size: 3rem;

  @media (--max-medium) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-weight: 500;
}

.label {
  text-transform: uppercase;
}

.smallLabel {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.lightText {
  color: var(--light-color);
}

.accentText {
  color: var(--accent-color);
}

.centeredText {
  text-align: center;
}
