:root {
  --bg-color: #8A7342;
  --sans: 'Standard', -apple-system, BlinkMacSystemFont, sans-serif;
  --serif: 'Bodoni Moda', serif;
  --dark-color: #222;
  --light-color: #fff;
  --beige: #EBE0C6;

  --page-max-width: 1400px;

  --padding: 20px;
  --large-padding: 40px;
  --huge-padding: 80px;

  --mobile-padding: 25px;
  --mobile-large-padding: 50px;
}
