@import '../styles/variableMixins.scss';
@import '../styles/customMedia.css';

.info {
  @media (--max-medium) {
    padding-top: $spacing2x;
  }

  @media (--min-medium) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.title {
  margin-right: 2rem;
  line-height: 0.6;
}

.description {
  max-width: 29ch;

  @media (--max-medium) {
    margin-top: $spacing1x;
  }

  @media (--min-medium) {
    text-align: right;
    margin-bottom: 0;
  }
}

.imageContainer {
  @media (--max-medium) {
    display: none;
  }
}

.seriesImages {
  display: flex;

  /* And full width on narrow screens */
  @media (--max-medium) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  @media (--min-large) {
    column-gap: var(--spacing1x);
    row-gap: var(--spacing1x);
  }
}

.seriesImagesOne {
  @media (--max-large) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.seriesImagesTwo {
  @media (--max-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing1x);
  }
}

.seriesImagesMany {
  @media (--min-large) {
    flex-wrap: wrap;
  }
}

.seriesImagesGrid {
  /* Show images in a 2x2 grid on medium screens */
  @media (--min-medium) and (--max-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--spacing1x);
    row-gap: var(--spacing1x);
  }
}

.divider {
  grid-column-start: 1;
  grid-column-end: -1;
}
