@import '../styles/variableMixins';
@import '../styles/customMedia.css';

.imageContainer {
  @media (--min-medium) {
    height: $aboveTheFoldHeight;
  }

  @media (--max-medium) {
    margin-bottom: var(--spacing2x);
    height: var(--mobile-lead-image-height);
  }
}

.info {
  @media (--min-medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.additionalInfo {
  @media (--min-large) {
    margin-top: 1rem;
  }
}

.memberDescription {
  text-align: justify;
  margin-top: 1rem;
}

.members {
  @media (--max-medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: $spacing2x;
  }
}

.memberImage {
  @media (--max-medium) {
    grid-column: 1 / span 1;
  }
}

.memberInfo {
  @media (--max-medium) {
    grid-column: 2 / span 2;
  }
}