@import '../styles/customMedia.css';

.headerLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  @media (--max-large) {
    display: none;
  }
}

.narrowLogo {
  @media (--min-large) {
    display: none;
  }
}

.headerImageContainer {
  width: 100%;
  height: 78vh;
}

.headerImageWide {
  @media (--max-medium) {
    display: none !important;
  }
}

.headerImageNarrow {
  @media (--min-medium) {
    display: none !important;
  }
}

.series {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--spacing1x);
  row-gap: var(--spacing1x);

  @media (--max-medium) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }

  /* Series images & info, in columns on desktop & full-width on mobile */
  > div:first-child {
    @media (--min-medium) {
      grid-column: 1 / span 9;
      grid-row: 1;
    }

    @media (--max-large) {
      grid-column: 1 / span 8;
    }

    @media (--max-medium) {
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
    }
  }

  > div:nth-child(2) {
    @media (--min-medium) {
      grid-column: 10 / span 3;
      grid-row: 1;
    }

    @media (--max-large) {
      grid-column: 9 / span 4;
    }

    @media (--max-medium) {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }
  }

  /* Swap Series even & odd layouts on desktop */
  &:nth-child(odd) {
    > div:first-child {
      @media (--min-medium) {
        grid-column: 4 / span 9;
      }

      @media (--max-large) {
        grid-column: 5 / span 8;
      }

      @media (--max-medium) {
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
      }
    }

    > div:nth-child(2) {
      @media (--min-medium) {
        grid-column: 1 / span 3;
        text-align: right;
      }

      @media (--max-large) {
        grid-column: 1 / span 4;
      }

      @media (--max-medium) {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
      }
    }
  }
}

.seriesImages {
  display: flex;

  /* Show images in a 2x2 grid on medium screens */
  @media (--max-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--spacing1x);
  }

  /* And full width on narrow screens */
  @media (--max-medium) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

.seriesImageContainer {
  margin-right: var(--spacing1x);

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  @media (--max-large) {
    margin-right: 0;
    margin-bottom: var(--mobile-spacing1x);
  }
}

.seriesImage {
  /* height: 50vh; */
  height: 29vw;

  @media (--max-large) {
    height: 38vw;
  }

  @media (--max-medium) {
    // height: 60vw;
    height: 80vw;
  }
}

.seriesImageCaptionSpacer {
  height: 1rem;
  padding-top: .5rem;
  color: var(--accent-color);

  @media (--max-medium) {
    display: none;
  }
}

.seriesInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (--max-large) {
    justify-content: flex-start;
  }
}

.seriesText {
  color: var(--light-color);
}
