@import '../styles/customMedia.css';

.seriesImages {
  display: flex;

  /* Show images in a 2x2 grid on medium screens */
  @media (--max-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--spacing1x);
    row-gap: var(--spacing1x);
  }

  /* And full width on narrow screens */
  @media (--max-medium) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

.divider {
  grid-column-start: 1;
  grid-column-end: -1;
}
