@import '../styles/variableMixins';
@import '../styles/customMedia.css';

$totalPadding: $spacing2 * 3;
$aboveTheFoldHeight: calc(100vh - #{$desktopLogoHeight} - #{$totalPadding}px);

.product {
  @media (--min-medium) {
    min-height: $aboveTheFoldHeight;
  }

  @media (--max-medium) {
    display: flex;
    flex-direction: column;
  }
}

.productInfo {
  @media (--min-medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: $aboveTheFoldHeight;
    position: sticky;
    top: $totalHeaderHeight;
  }
}

.lightText {
  color: var(--light-color);
  -webkit-font-smoothing: antialiased;
}

.description {
  @media (--min-medium) {
    text-align: right;
  }

  @media (--max-medium) {
    order: 2;
    margin-bottom: var(--spacing2x);
  }
}

.images {
  @media (--max-medium) {
    order: 4;
  }
}

.image {
  width: 100%;
  display: block;
  margin-bottom: var(--spacing2x);

  &:last-child {
    margin-bottom: 0;
  }
}

.firstImageContainer {
  @media (--min-medium) {
    height: $aboveTheFoldHeight;
  }

  @media (--max-medium) {
    display: none !important;
  }
}

.mobileHeaderImageContainer {
  @media (--min-medium) {
    display: none;
  }

  @media (--max-medium) {
    order: 1;
    margin-bottom: var(--spacing2x);
    height: var(--mobile-lead-image-height);
  }
}

.mobileHeaderImage {
  width: 100%;
  display: block;
  height: 100%;
}

.details {
  @media (--max-medium) {
    order: 3;
    margin-bottom: var(--spacing2x);
  }
}

.buttons {
  margin-top: var(--spacing1x);
}

.desktopButtons {
  @media (--max-medium) {
    display: none;
  }
}

.mobileButtons {
  @media (--min-medium) {
    display: none;
  }
}
