@import '../styles/customMedia.css';

.container {
  box-sizing: border-box;
  max-width: var(--page-max-width);
  padding: 0 var(--spacing2x) var(--spacing2x);
  margin: 0 auto;
  margin-top: calc(var(--logo-height) + var(--spacing2x) + var(--spacing2x));
}
