@import '../styles/customMedia.css';

.container {
  box-sizing: border-box;
  max-width: var(--page-max-width);
  padding: var(--large-padding);
  margin: 0 auto;

  @media (--media-max-medium) {
    padding: var(--mobile-padding);
  }
}
