@import '../styles/customMedia.css';
@import '../styles/variableMixins';

.footer {
  position: relative;
  display: flex;

  @media (--max-large) {
    margin-bottom: var(--spacing1x);
  }

  @media (--max-medium) {
    flex-direction: column;
  }
}

.footerSection {
  flex-grow: 1;
}

.contactSection {
  display: flex;
  flex-direction: column;

  @media (--min-medium) {
    align-items: flex-end;
  }

  @media (--max-medium) {
    padding-top: var(--spacing4x);
    align-items: flex-start;
  }
}

.footerSectionTitle {
  margin-bottom: 1rem;
}

.link {
  padding: var(--spacing1x);
  display: flex;
  align-items: center;
  margin-right: -#{$spacing1x};

  @media (--max-medium) {
    margin-left: -#{$spacing1x};
  }
}

.linkImage {
  display: inline-block;
  width: 1.3rem;
  height: auto;
  padding-right: .5rem;
}
