@import '../styles/variableMixins';
@import '../styles/customMedia.css';

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Fixed header */
  position: fixed;
  z-index: 1;
  width: 100%;
  top: var(--spacing2x);
  left: 0;
}

.text {
  text-align: center;
  color: var(--light-color);
  -webkit-font-smoothing: antialiased;
  flex-basis: 25%;

  @media (--max-medium) {
    display: none;
  }
}

.logoContainer {
  @media (--min-medium) {
    width: 50vw;
    max-width: #{$pageMaxWidth/2};
    height: $desktopLogoHeight;
  }
}

.logo {
  display: block;
  width: 100%;
  height: 100%;

  @media (--max-medium) {
    display: none;
  }
}

.narrowLogo {
  @media (--min-medium) {
    display: none;
  }
}
