@import '../styles/variableMixins';
@import '../styles/customMedia.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: var(--spacing2x) 0;
  height: var(--logo-height);

  @media (--max-medium) {
    display: none;
  }
}

.mobileHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: var(--spacing1x);
  box-sizing: border-box;

  @media (--min-medium) {
    display: none;
  }
}

.mobileHeaderOpen {
  background-color: var(--bg-color);
}

.mobileHeaderLinks {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacing1x);
  border-bottom: 2px solid var(--dark-color);
}

.linksContainer {
  flex-basis: 25%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.text {
  font-family: var(--sans);
  text-align: center;
  -webkit-font-smoothing: antialiased;

  @media (--max-medium) {
    padding: 1rem;
  }
}

.firstLink {
  text-align: left;
  padding-left: 0;
}

.lastLink {
  text-align: right;
  padding-right: 0;
}

.logoContainer {
  @media (--min-medium) {
    position: fixed;
    z-index: 2;
    width: 50vw;
    max-width: #{$pageMaxWidth/2};
    height: var(--logo-height);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.mobileLogoContainer {
  padding: 0 var(--spacing1x);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburgerMenu {
  padding: var(--spacing1x);
  margin: -#{$spacing1x} -#{$spacing1x} -#{$spacing1x} 0;
  cursor: pointer;
}

.logo {
  display: block;
  height: var(--logo-height);

  @media (--max-medium) {
    width: auto;
  }
}

.wideLogo {
  margin: 0 auto;
  max-width: 100%;

  @media (--max-medium) {
    display: none;
  }
}

.narrowLogo {
  @media (--min-medium) {
    display: none;
  }
}
