@import '../styles/customMedia.css';

.type {
  width: var(--spacing1x);
  height: var(--spacing1x);
  position: relative;
  padding-bottom: .5rem;

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.thumbnail {
  overflow: hidden;
  display: block;
  border-radius: var(--spacing1x);
  width: 100%;
  height: 100%;
}

$imageWidth: 120px;
$halfImageWidth: $imageWidth / 2;
$detailPadding: 1rem;

.detail {
  z-index: 1;
  position: absolute;
  top: calc(var(--spacing1x) + #{$detailPadding});
  background-color: black;
  padding: $detailPadding;

  @media (--min-medium) {
    left: calc(-#{$halfImageWidth} - #{$detailPadding} + (var(--spacing1x) / 2));
  }

  @media (--max-medium) {
    left: 0;
  }
}

.rightDetail {
  @media (--min-medium) {
    left: auto;
    right: 0;
  }
}

.detailImageContainer {
  width: $imageWidth;
  position: relative;
}

.detailTitle {
  padding-bottom: .5rem;
}

.detailImage {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
}
